

.cart-section {

  .cart-container {
    background-color: $color-white;
    border-radius: 22px;
    padding: 15px 15px;
  }

  .cart-card {
    
    .cart-image {
      img {
        width: 150px;
        max-width: 150px;
        height: 150px;
        max-height: 150px;
        object-fit: cover;
        border-radius: 12px;

        @media (max-width: 575.98px) {
          width: 100px;
          max-width: 100px;
          height: 100px;
          max-height: 100px;
        }
      }
    }

    .cart-price {
      font-weight: 700;
      font-size: 18px;
      color: $color-accend
    }

    .subtotal-price {
      font-weight: 700;
      font-size: 20px;
      color: $color-accend
    }


  }

  .cart-buttons {

    button {
      border-radius: 12px;
    }
  }

  .cart-login {
    border-radius: 12px;
    background-color: $cta-blue;
    color: $font-color-white;
    font-weight: 700;
    
  }

  .cart-order {
    background-color: $color-primary;
  }
}