

.header {

  .header-title {
    font-family: $font-marck;
    font-size: 30px;
  }

  .navbar {
    background-color: $color-white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: $box-shadow;

    .nav-link-btn {
      color: $font-color-dark;
    }

    .login-btn {
      border-radius: 22px;
      padding: 8px 24px;
      background-color: $cta-blue;
      color: $font-color-white;
      font-weight: 700;
    }
    .login-btn:hover {
      background-color: $cta-blue-text;
      color: $cta-blue;
    }
    .login-btn:active {
      background-color: $cta-blue;
      color: $font-color-white;
    }
    
  }
}

@media (max-width: 997.98px) {
  .offcanvas {

    .nav-link-btn {
      color: $font-color-dark;
    }
  
    .login-btn {
      width: 100%;
      border-radius: 22px;
      padding: 8px 24px;
      background-color: $cta-blue;
      color: $font-color-white;
      font-weight: 700;
    }
    .login-btn:hover {
      background-color: $cta-blue-text;
      color: $cta-blue;
    }
    .login-btn:active {
      background-color: $cta-blue;
      color: $font-color-white;
    }
  }
}